html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.date-form-group {
    display: inline-block;
}

.form-group {
    margin-bottom: 16px;
}

.right-form-group {
    float: right;
}

.equipment-label {
    display: inline-block;
}

.form-left-container {
    display: inline-block;
    width: 40%;
}

.form-right-container {
    float: right;
    margin-top: 60px;
}

.validation-summary-errors {
    color: red;
}

.price-btn-wrapper {
    text-align: right;
    margin-top: 65px;
}

#message {
    display: none;
    color: #0066cc;
}

.card {
    margin-right: 5px;
}

.delete-reservation-btn {
    float: right;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-inner .carousel-item {
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.carousel .carousel-item .review-slide {
    width: 50%;
    margin: auto;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* ensure full height */
}

.card.review-slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}