@model List<ReservationSystem.Data.Models.Equipment>

<!-- Button for adding a new equipment -->
<div class="mb-3">
    <a class="btn btn-primary" asp-action="Create" asp-controller="Equipment">New equipment</a>
</div>

@if (!Model.Any())
{
    <p>You have no equipments yet.</p>
}

<!-- Container for equipment boxes -->
<div class="row">
    @foreach (var equipment in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@equipment.Name</h5>
                    <form asp-action="Delete" asp-controller="Equipment" method="get">
                        <input type="hidden" name="id" value="@equipment.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>