@model ReservationSystem.Data.Models.Equipment

<div class="admin-content-box">
    <h2>Create New Equipment</h2>

    <form asp-action="Create" asp-controller="Equipment">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>